{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro</title>
    <link href="<https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css>" rel="stylesheet">
    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">

    </head>
    <body>
        <ul>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="">Seus pedidos</a></li>
            <a href=" {% url 'sair' %}" class="btn btn-danger">Logout</a> 
        </ul>

        <div class="container-fluid">
            <div class="row">

                <div class="col-md">
                    <div class="wrapper">
                        <div class="box">
                            <div class="header-box">
                                <h3 class="font-vinho">Relatório de pedido</h3>
                                <hr>
                            </div>
                            <div class="body-box">
                                <form action="{% url 'novo_pedido' %}" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                                    {% if messages %}
                                        <br>
                                        {% for message in messages %}
                                            <div class="alert {{message.tags}}">
                                                {{message}}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                   
                                    <span>Nome:<span>
                                    <input type="text" class="form-control" name="nome" placeholder="Digite o nome do departamento...">
                                    <br>
                                    <span>Descrição do erro:<span>
                                    <textarea class="form-control" name="descricao" placeholder="Descrição do problema..."></textarea> 
                                    <br>

                                    <input type="submit" value="ENVIAR" class="btn-custom-primary">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    
    <script src="<https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js>"></script>
    </body>
</html>
